.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 867px}
.u-section-1 .u-text-1 {font-weight: 700; margin: 52px auto 0 65px}
.u-section-1 .u-group-1 {width: 1015px; min-height: 765px; height: auto; margin: 22px 60px 0 auto}
.u-section-1 .u-container-layout-1 {padding: 13px 30px}
.u-section-1 .u-text-2 {font-size: 1.125rem; margin: 9px 0 0 27px}
.u-section-1 .u-shape-1 {width: 48px; height: 48px; margin: 132px 320px 0 auto}
.u-section-1 .u-text-3 {margin: 108px auto 0 65px}
.u-section-1 .u-text-4 {margin: -22px auto 0}
.u-section-1 .u-text-5 {margin: -22px 142px 0 auto}
.u-section-1 .u-text-6 {margin: 273px 198px 0 auto}
.u-section-1 .u-text-7 {margin: -28px auto 0 225px}
.u-section-1 .u-text-8 {font-size: 1.125rem; margin: 32px 79px 0 16px}
.u-section-1 .u-line-1 {width: 30px; height: 6px; transform-origin: left center 0; transform: rotate(360deg); margin: -531px auto 0 393px}
.u-section-1 .u-layout-wrap-1 {width: 785px; margin: -144px auto 0 169px}
.u-section-1 .u-image-1 {min-height: 333px; background-image: url("images/3meToMeanShape4x.jpg")}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-image-2 {min-height: 333px; background-image: url("images/meanface.jpg")}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-image-3 {min-height: 333px; background-image: url("images/4diff.jpg")}
.u-section-1 .u-container-layout-4 {padding: 30px}
.u-section-1 .u-layout-wrap-2 {width: 513px; margin: 44px auto 60px}
.u-section-1 .u-image-4 {min-height: 344px; background-image: url("images/4cariture2.jpg")}
.u-section-1 .u-container-layout-5 {padding: 30px}
.u-section-1 .u-image-5 {min-height: 344px; background-image: url("images/4cariture-1.jpg")}
.u-section-1 .u-container-layout-6 {padding: 30px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 5235px}
.u-section-1 .u-text-1 {margin-top: -38px; margin-left: 75px}
.u-section-1 .u-group-1 {width: 940px; margin-top: 59px; margin-right: 0}
.u-section-1 .u-text-2 {margin-top: -3724px; margin-right: 415px; margin-left: 0}
.u-section-1 .u-shape-1 {margin-top: 4118px; margin-right: 120px}
.u-section-1 .u-text-3 {margin-top: -251px; margin-left: 122px}
.u-section-1 .u-text-4 {margin-left: 434px}
.u-section-1 .u-text-5 {margin-right: 201px}
.u-section-1 .u-text-6 {margin-top: 444px; margin-right: 250px}
.u-section-1 .u-text-7 {margin-left: 251px}
.u-section-1 .u-text-8 {margin-top: -56px; margin-right: 20px; margin-left: 0}
.u-section-1 .u-layout-wrap-1 {position: relative; margin-left: 155px}
.u-section-1 .u-layout-wrap-2 {position: relative; width: 565px; margin-top: 40px; margin-bottom: 0} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 5909px}
.u-section-1 .u-text-1 {margin-top: -58px; margin-left: 57px}
.u-section-1 .u-group-1 {width: 720px; margin-top: 79px}
.u-section-1 .u-text-2 {margin-top: -4398px; margin-right: 195px}
.u-section-1 .u-shape-1 {margin-top: 4820px; margin-right: 92px}
.u-section-1 .u-text-3 {margin-left: 93px}
.u-section-1 .u-text-4 {margin-left: 332px}
.u-section-1 .u-text-5 {margin-right: 154px}
.u-section-1 .u-text-6 {margin-right: 191px}
.u-section-1 .u-text-7 {margin-left: 192px}
.u-section-1 .u-text-8 {margin-top: -84px; margin-right: 0}
.u-section-1 .u-layout-wrap-1 {width: 720px; margin-left: 0}
.u-section-1 .u-image-1 {min-height: 305px}
.u-section-1 .u-image-2 {min-height: 305px}
.u-section-1 .u-image-3 {min-height: 305px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 10089px}
.u-section-1 .u-text-1 {margin-top: 2776px; margin-left: 43px}
.u-section-1 .u-group-1 {width: 540px; margin-top: -2755px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-2 {margin-top: -8578px; margin-right: 15px}
.u-section-1 .u-shape-1 {margin-top: 9000px; margin-right: 69px}
.u-section-1 .u-text-3 {margin-left: 70px}
.u-section-1 .u-text-4 {margin-left: 249px}
.u-section-1 .u-text-5 {margin-right: 116px}
.u-section-1 .u-text-6 {margin-right: 143px}
.u-section-1 .u-text-7 {margin-left: 144px}
.u-section-1 .u-layout-wrap-1 {width: 540px}
.u-section-1 .u-image-1 {min-height: 686px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-2 {min-height: 686px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-3 {min-height: 686px}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-layout-wrap-2 {width: 540px}
.u-section-1 .u-image-4 {min-height: 742px}
.u-section-1 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-5 {min-height: 742px}
.u-section-1 .u-container-layout-6 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 7194px}
.u-section-1 .u-text-1 {margin-top: 1526px; margin-left: 27px}
.u-section-1 .u-group-1 {width: 340px; margin-top: -1492px}
.u-section-1 .u-text-2 {margin-top: -5683px; margin-right: 0}
.u-section-1 .u-shape-1 {margin-top: 6077px; margin-right: 43px}
.u-section-1 .u-text-3 {margin-left: 44px}
.u-section-1 .u-text-4 {margin-left: 157px}
.u-section-1 .u-text-5 {margin-right: 73px}
.u-section-1 .u-text-6 {margin-right: 90px}
.u-section-1 .u-text-7 {margin-left: 91px}
.u-section-1 .u-text-8 {margin-top: -112px}
.u-section-1 .u-line-1 {margin-left: 310px}
.u-section-1 .u-layout-wrap-1 {width: 340px}
.u-section-1 .u-image-1 {min-height: 432px}
.u-section-1 .u-image-2 {min-height: 432px}
.u-section-1 .u-image-3 {min-height: 432px}
.u-section-1 .u-layout-wrap-2 {width: 340px}
.u-section-1 .u-image-4 {min-height: 467px}
.u-section-1 .u-image-5 {min-height: 467px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 631px}
.u-section-2 .u-text-1 {font-weight: 700; margin: 32px auto 0 65px}
.u-section-2 .u-group-1 {width: 1015px; min-height: 504px; height: auto; margin: 24px 60px 0 auto}
.u-section-2 .u-container-layout-1 {padding: 1px 30px}
.u-section-2 .u-text-2 {font-size: 1.125rem; margin: 31px 0 0}
.u-section-2 .u-text-3 {margin: 233px auto 0 163px}
.u-section-2 .u-text-4 {margin: -44px auto 0}
.u-section-2 .u-text-5 {margin: -22px 65px 0 auto}
.u-section-2 .u-text-6 {margin: -22px 244px 0 auto}
.u-section-2 .u-text-7 {margin: -22px auto 0 57px}
.u-section-2 .u-layout-wrap-1 {width: 944px; margin: -269px auto 113px}
.u-section-2 .u-image-1 {min-height: 216px; background-image: url("images/meanface.jpg"); background-position: 50% 50%}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-image-2 {min-height: 216px; background-image: url("images/alpha01.jpg"); background-position: 50% 50%}
.u-section-2 .u-container-layout-3 {padding: 30px}
.u-section-2 .u-image-3 {min-height: 216px; background-image: url("images/Acrop.png")}
.u-section-2 .u-container-layout-4 {padding: 30px}
.u-section-2 .u-image-4 {min-height: 188px; background-image: url("images/alpha1.55.jpg"); background-position: 50% 50%}
.u-section-2 .u-container-layout-5 {padding: 30px}
.u-section-2 .u-image-5 {min-height: 216px; background-image: url("images/alpha33.jpg"); background-position: 50% 50%}
.u-section-2 .u-container-layout-6 {padding: 30px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 5235px}
.u-section-2 .u-text-1 {margin-left: 75px}
.u-section-2 .u-group-1 {width: 940px; min-height: 862px; margin-right: 0}
.u-section-2 .u-text-3 {margin-top: 289px; margin-left: 122px}
.u-section-2 .u-text-4 {margin-top: -181px; margin-left: 392px}
.u-section-2 .u-text-5 {margin-right: 201px}
.u-section-2 .u-text-6 {margin-right: 408px; margin-left: 434px}
.u-section-2 .u-text-7 {margin-top: -44px; margin-left: 32px}
.u-section-2 .u-layout-wrap-1 {position: relative; width: 940px}
.u-section-2 .u-image-1 {min-height: 215px}
.u-section-2 .u-image-2 {min-height: 215px}
.u-section-2 .u-image-3 {min-height: 215px}
.u-section-2 .u-image-4 {min-height: 187px}
.u-section-2 .u-image-5 {min-height: 215px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 5909px}
.u-section-2 .u-text-1 {margin-left: 57px}
.u-section-2 .u-group-1 {width: 720px}
.u-section-2 .u-text-3 {margin-left: 93px}
.u-section-2 .u-text-4 {margin-left: 294px}
.u-section-2 .u-text-5 {margin-right: 154px}
.u-section-2 .u-text-6 {margin-right: 306px; margin-left: 332px}
.u-section-2 .u-text-7 {margin-left: 24px}
.u-section-2 .u-layout-wrap-1 {width: 720px}
.u-section-2 .u-image-1 {min-height: 165px}
.u-section-2 .u-image-2 {min-height: 165px}
.u-section-2 .u-image-3 {min-height: 165px}
.u-section-2 .u-image-4 {min-height: 143px}
.u-section-2 .u-image-5 {min-height: 165px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 10089px}
.u-section-2 .u-text-1 {margin-left: 43px}
.u-section-2 .u-group-1 {width: 540px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-text-3 {margin-top: 317px; margin-left: 70px}
.u-section-2 .u-text-4 {margin-left: 232px}
.u-section-2 .u-text-5 {margin-right: 116px}
.u-section-2 .u-text-6 {margin-right: 241px; margin-left: 249px}
.u-section-2 .u-text-7 {margin-left: 19px}
.u-section-2 .u-layout-wrap-1 {width: 540px; margin-bottom: 60px}
.u-section-2 .u-image-1 {min-height: 619px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-2 {min-height: 619px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-3 {min-height: 619px}
.u-section-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-4 {min-height: 536px}
.u-section-2 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-5 {min-height: 619px}
.u-section-2 .u-container-layout-6 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 7194px}
.u-section-2 .u-text-1 {margin-left: 27px}
.u-section-2 .u-group-1 {width: 340px}
.u-section-2 .u-text-3 {margin-left: 44px}
.u-section-2 .u-text-4 {margin-left: 143px}
.u-section-2 .u-text-5 {margin-right: 73px}
.u-section-2 .u-text-6 {margin-right: 148px; margin-left: 157px}
.u-section-2 .u-text-7 {margin-left: 12px}
.u-section-2 .u-layout-wrap-1 {width: 340px}
.u-section-2 .u-image-1 {min-height: 303px}
.u-section-2 .u-image-2 {min-height: 390px}
.u-section-2 .u-image-3 {min-height: 404px}
.u-section-2 .u-image-4 {min-height: 428px}
.u-section-2 .u-image-5 {min-height: 428px} }